.main_container {
  width: 100vw;
  height: calc(100vh - 80px);
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  font-size: 12px;
  color: #80000b;
}

.signin_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 80px;
  min-width: 240px;
}

.headertext_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.checkbox_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.checkbox {
  background-color: #fff;
}

.checkbox_text {
  margin-left: 3px;
}

.notification_container {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
