.button {
  border: none;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
}

.button:disabled {
  color: gray;
  cursor: default;
}

.button:hover:enabled {
  cursor: pointer;
  background-color: #80000b90;
  color: #fff;
}

.button:active:enabled {
  cursor: default;
  background-color: #fff;
  color: #80000b;
}
