.table_rows {
  height: 30px;
  border-bottom: 0.5px solid #80000b30;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 10px;
  font-size: 12px;
}

.table_rows:hover {
  border-bottom: 2px solid #80000b70;
  font-size: 12.5px;
}

.col_1 {
  width: calc(1 / 12 * 100%);
  /* background-color: red; */
}

.col_2 {
  width: calc(2 / 12 * 100%);
  /* background-color: red; */
}
.col_3 {
  width: calc(3 / 12 * 100%);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* background-color: #6fa9df; */
}
