.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.input_label {
  font-size: 14px;
  color: #80000b;
}

.input {
  background-color: #fff;
  border-radius: 8px;
  color: #80000b;
  padding: 3px 12px;
  border: 1px solid #80000b;
  font-size: 13px;
}

input:focus {
  border-color: #80000b;
  border-width: 2px;
  outline: #80000b;
}

.input:disabled {
  cursor: not-allowed;
  border: none;
}
